body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

    body::after {
        content: "";
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;
        background: url('../img/2554435 (Large).jpg');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
