@model Clinique.Domain.Models.RendezVous

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RendezVous</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group date" id="datetimepicker1" data-target-input="nearest">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" type="datetime-local" id="txtStart" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group date" id="datetimepicker2" data-target-input="nearest">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" type="datetime-local" class="form-control datetimepicker-input" data-target="#datetimepicker2" />
                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeColor" class="control-label"></label>
                <select asp-for="ThemeColor" class="form-control" asp-items="ViewBag.Couleurs" />
                <span asp-validation-for="ThemeColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDocteur" class="control-label"></label>
                <select asp-for="IdDocteur" class="form-control" asp-items="ViewBag.IdDocteur"></select>
                <span asp-validation-for="IdDocteur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDossierpatient" class="control-label"></label>
                <select asp-for="IdDossierpatient" class="form-control" asp-items="ViewBag.IdDossier"></select>
                <span asp-validation-for="IdDossierpatient" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'fr-ca'
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'fr-ca'
            });
        });
    </script>
}