@model Clinique.Domain.Models.Utilisateur
@{
    ViewData["Title"] = "Home Page";
}

<h4>Identification utilisateur :</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Authentifier">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HashPassword" class="control-label"></label>
                <input asp-for="HashPassword" class="form-control" />
                <span asp-validation-for="HashPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Authentifier" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<a asp-action="Register" asp-controller="Home">Créez votre compte</a>