@*@using Clinique.Domain.Enums
@model Clinique.Domain.Models.Utilisateur
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HashPassword" class="control-label"></label>
                <input asp-for="HashPassword" class="form-control" />
                <span asp-validation-for="HashPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeCompte" class="control-label"></label>
                <select asp-for="TypeCompte" class="form-control" asp-items="Html.GetEnumSelectList<TypeCompte>()">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Authentifier" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@