
@{
    ViewData["Title"] = "Sécrétariat";
}

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <i class="fas fa-eraser"></i> Remove
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right mr-5">
                    <i class="fas fa-pencil-alt"></i> Edit
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Créer Rendez-vous</h4>
            </div>
            <div class="modal-body">
                <form class="col-md-12 form-horizontal">
                    <input type="hidden" id="hdEventID" value="0" />
                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" id="txtSubject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Start</label>
                        <div class="input-group date" id="dtp1">
                            <input type="text" id="txtStart" class="form-control" />
                            <span class="input-group-addon">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkIsFullDay" checked="checked" />Journée complète ?</label>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate">
                        <label>End</label>
                        <div class="input-group date" id="dtp2">
                            <input type="text" id="txtEnd" class="form-control" />
                            <span class="input-group-addon">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Theme Color</label>
                        <select id="ddThemeColor" class="form-control">
                            <option value="">Default</option>
                            <option value="red">Rouge</option>
                            <option value="blue">Bleu</option>
                            <option value="black">Noir</option>
                            <option value="green">Vert</option>
                            <option value="pink">Rose</option>
                        </select>
                    </div>
                    <button type="button" id="btnSave" class="btn btn-success">Enregistrer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div id="calendar" class="col-10"></div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: 'local',
                schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
                contentHeight: 600,
                themeSystem: 'bootstrap',
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'today,dayGridMonth,timeGridWeek,timeGridDay'
                },
                navLinks: true,
                editable: true,
                dayMaxEvents: true,
                selectable: true,
                eventSources: [{
                    url: '/secretaire/GetEvents',
                    method: 'GET',
                }],
                businessHours: {
                    daysOfWeek: [1, 2, 3, 4, 5],
                    startTime: '9:00',
                    endTime: '20:00',
                },
                firstDay: 0,
                //locales: allLocales,
                locale: 'fr',
                eventClick: function (calEvent) {
                    $('#myModal #eventTitle').text(calEvent.event.title);
                    var $description = $('<div/>');
                    $description.append($('<p/>').html('<b>Start:</b>' + calEvent.event.start));
                    if (calEvent.event.end != null) {
                        $description.append($('<p/>').html('<b>End:</b>' + calEvent.event.end));
                    }
                    $description.append($('<p/>').html('<b>Description:</b>' + calEvent.event.extendedProps.description + calEvent.event.extendedProps.docteur));
                    $('#myModal #pDetails').empty().html($description);

                    $('#myModal').modal();
                },
                dateClick: function (info) {
                    $('#myModalSave').modal();
                },
            })
            calendar.render();

        }
        )
    </script>
}