@model Clinique.Domain.Models.Dossierpatient

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dossierpatient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomP" class="control-label"></label>
                <input asp-for="NomP" class="form-control" />
                <span asp-validation-for="NomP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrenomP" class="control-label"></label>
                <input asp-for="PrenomP" class="form-control" />
                <span asp-validation-for="PrenomP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <select asp-for="Genre" class="form-control"></select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumAS" class="control-label"></label>
                <input asp-for="NumAS" class="form-control" />
                <span asp-validation-for="NumAS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateNaiss" class="control-label"></label>
                <input asp-for="DateNaiss" class="form-control" />
                <span asp-validation-for="DateNaiss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateC" class="control-label"></label>
                <input asp-for="DateC" class="form-control" />
                <span asp-validation-for="DateC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDocteur" class="control-label"></label>
                <select asp-for="IdDocteur" class="form-control" asp-items="ViewBag.IdDocteur"></select>
                <span asp-validation-for="IdDocteur" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
